
@import "bootstrap/_variables";
@import "themes/_plans";

.text-nav-shadow{
	text-shadow: 1px 2px 0px rgba(255, 255, 255, 0.1);
}
.text-nav-shadow-active{
	text-shadow: 1px 2px 0px rgba(0, 0, 0, 0.1);
}
.box-shadow{
	box-shadow: 27px 32px 76px 0px rgba(1, 1, 1, 0.53);
}
.box-shadow-inputs{
	box-shadow: 1px 1px 3px 0px rgba(0, 0, 0, 0.15);
}

/*No gutters feature*/
/*
.row.no-gutters {
  margin-right: 0;
  margin-left: 0;

  & > [class^="col-"],
  & > [class*=" col-"] {
    padding-right: 0;
    padding-left: 0;
  }
}
*/
/*End of no gutters feature*/


	
		
 

body{
	padding: 40px;
	background:$gray-base;
	
}

.aside{
	padding-bottom: 88px;
	
}
.content{ 
	height: 600px;

}
.frame{
	position: relative;
	&:after{ /*sidebar styles*/
		content: "";
		position: absolute;
		top:5px;
		width: 100%;
		max-width: 358px;
		left: 0;
		bottom: 0;
		background:$dark-grey; 
		z-index: -1;
		@extend .box-shadow;
	}
}
.main{
	position: relative;
	z-index: 1;
	padding: 0 20px 49px 0;
	&:after{ /*Blue box with footer*/
		content: "";
		position: absolute;
		top:77px;
		left: -16px;
		right: 14px;
		bottom: 0;
		background:$base-blue; 
		z-index: -1;
		@extend .box-shadow;
	}
	.main-holder{/*main content box*/
		margin: -16px 20px 0 -42px;
		background: $white-base;
		padding: 51px 35px 37px 70px;
		position: relative;
		z-index: 2;
		@extend .box-shadow;
	}
}

/*Nav tabs styles*/
.nav-tabs {
	margin-top: 28px;
	margin-left: -14px;
	font-family:$font-family-nav;
	font-size:20px;
	&>li{
	float: none;
	text-transform: uppercase;
	margin-bottom: -6px !important;
	@extend .text-nav-shadow;
	}
	&>li>a{
		border:none !important;
		border-left:14px solid transparent !important;
		border-radius: 0;
		padding: 36px 0 25px 86px;
		margin-right: 0 !important;
	}
	&>li.active>a,
	&>li>a:hover{
		border-color:$base-blue !important;
		@extend .text-nav-shadow-active;
		position: relative;
		z-index: 500;
		font-weight:600 !important;
	}
	&>li.active>a{
		@extend .box-shadow;
	}
}




/*End of Nav tabs styles*/

/*Form elements styles*/
.form-control{
	@extend .box-shadow-inputs;
	padding-left: 50px !important;
}
.btn{
	text-transform: uppercase !important;
	font-size: 19px !important;
	@extend .box-shadow-inputs;
}
.btn-lg{
	padding:25px 38px 22px 35px !important;
	font-size: 19px !important;
	word-spacing:2px;
	letter-spacing:1px;
}
.btn-holder{
	padding: 6px 0 0 21px;
}

/*End of form styles*/


.footer{
	position: relative;
	.footer-holder{
		padding: 42px 0 0 36px;
	}
	ul{
		padding: 0;
		margin: 0;
		list-style: none;
	}
	li{
		float: left;
		font-family:$font-family-nav;
		text-transform: uppercase;
		font-size: 20px;
	}
	.phone {padding: 0 27px 0 0;}
	.chat {padding: 0 18px 0 0;}
	.mail {padding: 0 28px 0 0;}
	.phone a{padding: 0 0 0 39px;}
	.chat a{padding: 0 0 0 43px;}
	.mail a{padding: 0 0 0 46px;}
	.users a{padding: 0 0 0 40px;}
	a{
		color: $white-base;
		position: relative;
		&:hover{
			text-decoration: underline;
		}
		i{
			position: absolute;
			left:0;
			top:0;
			font-size: 28px;
			&.icon-phone{
				top:-7px;
			}
			&.icon-wechat{
				top:-8px;
			}
			&.icon-mail{
				top:-9px;
			}
			&.icon-users{
				top:-8px;
			}
		}
	}
	
}
